<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="validation" type="Microsoft.Practices.EnterpriseLibrary.Validation.Configuration.ValidationSettings, Microsoft.Practices.EnterpriseLibrary.Validation, Version=3.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
  </configSections>
  <validation>
    <type defaultRuleset="DefaultRule" assemblyName="BusinessObjects, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"
      name="BusinessObjects.Person">
      <ruleset name="DefaultRule">
        <properties>
          <property name="ID">
            <validator lowerBound="1" lowerBoundType="Ignore" upperBound="500"
              upperBoundType="Inclusive" negated="false" messageTemplate=""
              messageTemplateResourceName="" messageTemplateResourceType=""
              tag="" type="Microsoft.Practices.EnterpriseLibrary.Validation.Validators.RangeValidator, Microsoft.Practices.EnterpriseLibrary.Validation, Version=3.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"
              name="Range Validator" />
          </property>
          <property name="FirstName">
            <validator lowerBound="1" lowerBoundType="Inclusive" upperBound="20"
              upperBoundType="Inclusive" negated="false" messageTemplate=""
              messageTemplateResourceName="" messageTemplateResourceType=""
              tag="" type="Microsoft.Practices.EnterpriseLibrary.Validation.Validators.StringLengthValidator, Microsoft.Practices.EnterpriseLibrary.Validation, Version=3.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"
              name="String Length Validator" />
            <validator negated="false" messageTemplate="" messageTemplateResourceName=""
              messageTemplateResourceType="" tag="" type="Microsoft.Practices.EnterpriseLibrary.Validation.Validators.NotNullValidator, Microsoft.Practices.EnterpriseLibrary.Validation, Version=3.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"
              name="Not Null Validator" />
          </property>
          <property name="LastName">
            <validator negated="false" messageTemplate="" messageTemplateResourceName=""
              messageTemplateResourceType="" tag="" type="Microsoft.Practices.EnterpriseLibrary.Validation.Validators.NotNullValidator, Microsoft.Practices.EnterpriseLibrary.Validation, Version=3.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"
              name="Not Null Validator" />
            <validator lowerBound="1" lowerBoundType="Inclusive" upperBound="30"
              upperBoundType="Exclusive" negated="false" messageTemplate=""
              messageTemplateResourceName="" messageTemplateResourceType=""
              tag="" type="Microsoft.Practices.EnterpriseLibrary.Validation.Validators.StringLengthValidator, Microsoft.Practices.EnterpriseLibrary.Validation, Version=3.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"
              name="String Length Validator" />
          </property>
          <property name="Email">
            <validator negated="false" messageTemplate="" messageTemplateResourceName=""
              messageTemplateResourceType="" tag="" type="Microsoft.Practices.EnterpriseLibrary.Validation.Validators.NotNullValidator, Microsoft.Practices.EnterpriseLibrary.Validation, Version=3.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"
              name="Not Null Validator" />
            <validator pattern="\w+([-+.']\w+)*@\w+([-.]\w+)*\.\w+([-.]\w+)*"
              options="None" patternResourceName="" patternResourceType=""
              messageTemplate="" messageTemplateResourceName="" messageTemplateResourceType=""
              tag="" type="Microsoft.Practices.EnterpriseLibrary.Validation.Validators.RegexValidator, Microsoft.Practices.EnterpriseLibrary.Validation, Version=3.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"
              name="Regex Validator" />
          </property>
          <property name="DOB">
            <validator lowerBound="1960-01-01" lowerBoundType="Inclusive"
              upperBound="2007-01-01" upperBoundType="Inclusive" negated="false"
              messageTemplate="" messageTemplateResourceName="" messageTemplateResourceType=""
              tag="" type="Microsoft.Practices.EnterpriseLibrary.Validation.Validators.DateTimeRangeValidator, Microsoft.Practices.EnterpriseLibrary.Validation, Version=3.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"
              name="Date Range Validator" />
          </property>
          <property name="Address">
            <validator targetRuleset="" type="Microsoft.Practices.EnterpriseLibrary.Validation.Validators.ObjectValidator, Microsoft.Practices.EnterpriseLibrary.Validation, Version=3.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"
              name="Object Validator" />
          </property>
          <property name="StartDate">
            <validator operator="LessThan" propertyToCompare="EndDate" negated="false"
              type="Microsoft.Practices.EnterpriseLibrary.Validation.Validators.PropertyComparisonValidator, Microsoft.Practices.EnterpriseLibrary.Validation, Version=3.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"
              name="Property Comparison Validator" />
            <validator operator="GreaterThan" propertyToCompare="DOB" negated="false"
              type="Microsoft.Practices.EnterpriseLibrary.Validation.Validators.PropertyComparisonValidator, Microsoft.Practices.EnterpriseLibrary.Validation, Version=3.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"
              name="Property Comparison Validator1" />
          </property>
          <property name="EndDate">
            <validator operator="GreaterThan" propertyToCompare="StartDate"
              negated="false" type="Microsoft.Practices.EnterpriseLibrary.Validation.Validators.PropertyComparisonValidator, Microsoft.Practices.EnterpriseLibrary.Validation, Version=3.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"
              name="Property Comparison Validator" />
          </property>
        </properties>
      </ruleset>
      <ruleset name="Over18">
        <properties>
          <property name="DOB">
            <validator lowerUnit="Year" upperUnit="None" lowerBound="18"
              lowerBoundType="Inclusive" upperBound="0" upperBoundType="Ignore"
              negated="false" messageTemplate="" messageTemplateResourceName=""
              messageTemplateResourceType="" tag="" type="Microsoft.Practices.EnterpriseLibrary.Validation.Validators.RelativeDateTimeValidator, Microsoft.Practices.EnterpriseLibrary.Validation, Version=3.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"
              name="Relative Date Time Validator" />
          </property>
        </properties>
      </ruleset>
      <ruleset name="18to25">
        <properties>
          <property name="DOB">
            <validator lowerUnit="Year" upperUnit="Year" lowerBound="18"
              lowerBoundType="Inclusive" upperBound="25" upperBoundType="Inclusive"
              negated="false" messageTemplate="" messageTemplateResourceName=""
              messageTemplateResourceType="" tag="" type="Microsoft.Practices.EnterpriseLibrary.Validation.Validators.RelativeDateTimeValidator, Microsoft.Practices.EnterpriseLibrary.Validation, Version=3.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"
              name="Relative Date Time Validator" />
          </property>
        </properties>
      </ruleset>
    </type>
  </validation>
</configuration>